Bottleneck 
certifi==2021.10.8
click==8.0.3
colorama 
Flask 
Flask-Cors 
gunicorn==20.1.0
imbalanced-learn 
itsdangerous 
Jinja2
joblib 
MarkupSafe 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
numexpr 
numpy 
packaging 
pandas 
pyparsing 
python-dateutil 
pytz==2021.3
scikit-learn 
scipy 
six 
threadpoolctl 
Werkzeug 
wincertstore==0.2
