Bottleneck 
certifi==2021.10.8
click==8.0.3 
colorama 
Flask 
Flask-Cors
gunicorn==20.1.0
itsdangerous 
Jinja2
joblib 
MarkupSafe 
numexpr 
numpy 
packaging 
pandas 
pyparsing 
python-dateutil 
pytz==2021.3
scikit-learn
scipy 
six 
threadpoolctl 
Werkzeug 
wincertstore==0.2
