<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rain prediction in Tunis</title>
    <link rel="stylesheet" href={{url_for('static',filename='style1.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">Rainy in Tunis</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About Rainy in Tunis</a>
          <a href="#info">Developer</a>
          <a href="/predict">Predictor</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>rain prediction in Tunisia <br><span>Machine learning</span></h2>
          <p> "predict rainy days using machine learnig"</p>
          <a href="" class="info-btn">More info</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/mezghi-firas-77723b202/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/FirasMezghi/Rain_in_Tunis"><i class="fab fa-github"></i></a>
        <a href="https://www.facebook.com/firas.mezghi"><i class="fab fa-facebook"></i></a>
      </div>
    </section>

    <section id="about">
      <h2>About Rainy in Tunis</h2>
      <p class="about-content" style="text-align: center;">Rainy Tunis is a web app which has 
      a Machine Learning model running at the back. The purpose of developing this app is to 
      predict whether it will rain the next day or not in Tunisia. This model is based on dataset that has been web scarped from the website tuiempo. The codes for this project can be checked in my <a href="" style="color: black; font-weight: bold;">github repo</a>. 
      </p>
    </section>

    
    <section id="info">
      <div>
        <img src="https://i.ibb.co/McBK4Jq/Capture-d-cran-2021-10-05-153611.png" alt="Vasanth">
      </div>
      <div>
        <h2>Developer</h2>
        <p class="about-content"> Hi, I'm Firas mezghi, a student from Tunisia. 
          Currently, I'm learning ML, DL, CV & NLP. Now I am trying
          to do some projects in data science like Rain in Tunis, . I am also trying
          to do some projects for my college too. Always curious to learn something new in
          the field of Data Science and machine learning. </p>
      </div>
    </section>

    <footer>
      <p>
        Developed with by Firas Mezghi
      </p> 
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/mezghi-firas-77723b202/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/FirasMezghi/Rain_in_Tunis"><i class="fab fa-github"></i></a>
        <a href="https://www.facebook.com/firas.mezghi"><i class="fab fa-facebook"></i></a>
      </div>
    </footer>

  </body>
</html>